/* App */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: "Inter", Arial, sans-serif;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
  height: 0;
  scrollbar-width: 6px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #60676d;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: transparent;
}

img,
svg {
  -webkit-user-drag: none;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

button:hover,
button:focus,
button:active,
button:active:focus:not(:disabled):not(.disabled) {
  box-shadow: none !important;
  outline: 0 !important;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:active:focus:not(:disabled):not(.disabled) {
  box-shadow: none !important;
  outline: 0 !important;
}

/* Components */
.card {
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.375rem;
  border: 2px solid #d0d7de;
}
.card .card-header {
  border-bottom: 2px solid #d0d7de;
}
.card .card-header:first-child {
  border-radius: 0.375rem 0.375rem 0 0;
}
.card .card-body {
  border-radius: 0.375rem;
}
.card .card-footer {
  border-top: 2px solid #d0d7de;
}
.card .card-footer:last-child {
  border-radius: 0 0 0.375rem 0.375rem;
}

.card,
.card-header,
.card-body,
.card-footer {
  background-color: #ffffff;
  color: #000000;
}

.container-input {
  position: relative;
  flex: 1 1 0%;
  background-color: #ffffff;
  border-radius: 5px;
}
.container-input:focus-within input:not(:-moz-read-only) {
  border-color: #bec1c6;
}
.container-input:focus-within input:not(:read-only) {
  border-color: #bec1c6;
}
.container-input input {
  width: 100%;
  height: 50px;
  font-size: 16px;
  background-color: #ffffff;
  border: 2px solid #e9ebef;
  color: #8f99ac;
  padding: 1rem;
  border-radius: 5px;
  transition: 0.5s ease;
}
.container-input input:focus {
  background-color: #ffffff;
  color: #8f99ac;
  box-shadow: none;
}
.container-input input::-moz-placeholder {
  color: #bcc0c5;
  font-size: 0.9rem;
}
.container-input input::placeholder {
  color: #bcc0c5;
  font-size: 0.9rem;
}
.container-input input:disabled, .container-input input[readonly] {
  opacity: 0.3;
  background-color: #e9ecef;
}

select.form-control {
  width: 100%;
  height: 50px;
  font-size: 16px;
  background-color: #ffffff;
  border: 2px solid #e9ebef;
  color: #8f99ac;
  border-radius: 5px;
  transition: 0.5s ease;
}
select.form-control:focus {
  background-color: #ffffff;
  color: #8f99ac;
  box-shadow: none;
}
select.form-control::-moz-placeholder {
  color: #bcc0c5;
  font-size: 0.9rem;
}
select.form-control::placeholder {
  color: #bcc0c5;
  font-size: 0.9rem;
}
select.form-control:disabled, select.form-control[readonly] {
  opacity: 0.3;
  background-color: #e9ecef;
}
select.form-control:focus-within {
  border-color: #bec1c6;
}

.btn-send {
  background-color: #8257e5;
  color: #ffffff;
  height: 60px;
  border-radius: 0.375rem;
  font-weight: bold;
  transition: 0.5s ease;
}
.btn-send:hover {
  background-color: #926de8;
  color: #ffffff;
}
.btn-send:disabled,
.btn-send button[disabled] {
  cursor: not-allowed;
}