.btn-send {
  background-color: #8257e5;
  color: #ffffff;
  height: 60px;
  border-radius: 0.375rem;
  font-weight: bold;
  transition: 0.5s ease;

  &:hover {
    background-color: #926de8;
    color: #ffffff;
  }

  &:disabled,
  button[disabled] {
    cursor: not-allowed;
  }
}
